<!DOCTYPE html>
<html>
<head>
    <title>Message Viewer</title>

    <!-- Load Angular v1.2.26 hosted on Google for caching -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>-->
    <script src="lib/angular-1.2.6/angular.min.js"></script>
    <script src="messageApp.js"></script>
    <script src="services/MessageService.js"></script>
    <script src="controllers/MessageController.js"></script>
</head>
<body ng-app="messageApp" ng-controller="MessageController">
<h1>Latest Messages from adaptive-test-api</h1>
<section id="messageControl">
    <button ng-click="getNewMessages()">Load More</button>
    <button>Clear All</button>
</section>
<section id="messageFilter">
    <label>Order Messages By: </label>
    <select>
        <option value="updated_at">Latest Messages</option>
        <option value="sentiment">Sentiment</option>
    </select>
</section>
<div class="alert alert-danger">We are currently experiencing some issues with the service.<br/>
    Please try again later.
</div>
<div class="alert alert-info">There are no new messages right now.<br/>Please try again later.</div>
<div id="messageContainer">
    <ul ng-repeat="message in messageData track by $index">
        <li>{{message.user_handle}}</li>
        <li>{{message.message}}</li>
        <li>{{message.updated_at | date: 'medium'}}</li>
        <li>{{message.sentiment}}</li>
    </ul>
</div>
</body>
</html>